.nextflow/
work/
.nova/
deprecated/
results/

.nextflow.log*
.DS_Store
trace.txt*
report.html.*
timeline.html*
report.html*
*.dot
*.png.*
._*
resources/mamu/*.sam
resources/mafa/*.sam
resources/mamu/ipd.fasta
resources/mafa/ipd.fasta
resources/mamu/exon.fasta
resources/mafa/exon.fasta
resources/mamu/gen.fasta
resources/mafa/gen.fasta
resources/mamu/bait.fasta.fai
resources/mafa/bait.fasta.fai
*.html