params {
	
	// WORKFLOW PARAMETERS TO REVIEW AT EACH RUN
	// ----------------------------------------

	// Sample sheet (feature pending)
	samplesheet = "$baseDir/resources/samplesheet.csv"
	
	// file path to (but not including) fastqs
	fastq_dir = ""
	
	// file path to fastas, if using previously aligned BAMs
	bam_dir = ""
	
	// Run-specific settings. More explanation about these settings in README.md
	create_reference_files = true // (true or false)
	edge_distance_threshold = 50
	unpaired_edge_threshold = 500
	depth_threshold = 10
	minimum_bridge_read_length = 70
	genotype_in_low_ram_mode = false 
	
	// Amount of ram to use (format like "8 GB", with quotation marks)
	ram = ""
	
	// Run name
	run_name = "Baylor_33"

	// Animal (mamu or mafa, though mafa is not yet supported)
	animal = "mamu"
	
	// Where to place results
	results = "$launchDir/results"
	
	// path to resource files
	resources = "$baseDir/resources"
	
	
	// WORKFLOW PARAMETERS THAT SHOULD NOT BE CHANGED
	// ----------------------------------------
	
	// reference fasta for MHC baiting
	mamu_bait_fasta = "$baseDir/resources/mamu_bait.fasta"

	// legacy AVRL genotyping FASTA for mamu and mafa
	mamu_legacy_fasta = "$baseDir/resources/mamu/26128_ipd-mhc-mamu-2021-07-09.miseq.RWv4.fasta"
	mafa_legacy_fasta = ""

	// Two column CSV, where the first column is an ID assigned by 
	// the sequencing facility, and the second column is your 
	// preferred animal ID. This file is currently required, but
	// both columns may contain the same IDs if no ID changes
	// are needed
	run_animal_lookup = "$baseDir/resources/baylor_33_mamu_lookup.csv"

	// Key for which haplotypes generally correspond with which alleles
	haplotype_lookup = "$baseDir/resources/mamu_haplotype_lookup.csv"
	
	// Key for matching AVRL amplicons to IPD reference alleles
	ipd_avrl_dict = "$baseDir/mamu_ipd_to_diag_lookup.json"
	
	// Dictionary for matching AVRL amplicons to IPD reference alleles
	ipd_num_lookup = "$baseDir/ipd_num_lookup.json"
	
}


// WHETHER TO GENERATE A REPORT OF RUN STATISTICS
report {
	enabled = true
	file    = "${params.results}/iWES-run-report.html"
}


// WHETHER TO GENERATE A VISUALIZATION OF THE WORKFLOW
dag {
	enabled = true
	overwrite = true
	file = 'iWES-visualization.png'
}


// WHETHER TO REMOVE TEMPORARY FILES AFTER A SUCCESSFUL RUN
cleanup = false


// PROFILE OPTIONS
profiles {
	
	standard {
		
		docker.enabled = true
		singularity.enabled = false
		conda.enabled = false
		
		process.container = 'dockerreg.chtc.wisc.edu/dhoconno/iwes:28038'
		
	}
	
	chtc {
		
		docker.enabled = false
		singularity.enabled = false
		conda.enabled = false
		
	}
	
	docker {
		
		docker.enabled = true
		singularity.enabled = false
		conda.enabled = false
		
		process.container = 'dockerreg.chtc.wisc.edu/dhoconno/iwes:28038'
		
	}
	
	singularity {
		
		singularity.enabled = true
		docker.enabled = false
		conda.enabled = false
		
		process.container = 'dockerreg.chtc.wisc.edu/dhoconno/iwes:28038'
		
	}
	
	// conda {
	// 	
	// 	conda {
	// 		enabled = true
	// 		// cacheDir = "$baseDir/config/envs"
	// 		// createOptions = "-y -c conda-forge -c bioconda -c r"
	// 		useMamba = true
	// 	}
	// 	
	// 	singularity.enabled = false
	// 	docker.enabled = false
	// 	
	// 	process {
	// 		
	// 		withName:PROCESS_NAME {
	// 			conda = ""
	// 		}
	// 	}
	// 	
	// }
}


// MANIFEST
manifest {
	homePage = 'https://github.com/dholab/nf-iWES'
	mainScript = 'iwes.nf'
	defaultBranch = 'main'
	description = 'NextFlow Pipeline for genotyping immunological genes from macaque whole exome sequence data'
	author = 'David A. Baker & Nicholas R. Minor'
}
