params {
	
	// WORKFLOW PARAMETERS TO REVIEW AT EACH RUN
	// ----------------------------------------
	
	// file path to (but not including) fastqs
	data_dir = "/Volumes/Data-pathfs09/sequencing/Baylor/Baylor_33/rt24330"
	
	// whether to use short amplicons developed for high-throughput MHC genotyping 
	// (true or false; default is true). If set to false, the workflow will use  
	// longer, more computationally demanding reference sequences from the ImmunoPolymorphism 
	// Database.
	use_avrl_amplicons = true 
	
	// Run-specific settings. More explanation about these settings in README.md
	edge_distance_threshold = 0
	depth_threshold = 10
	maximum_start_position_gap = 45
	minimum_bridge_read_length = 70
	
	// Where to place results
	results = "$launchDir/results"
	
	
	// WORKFLOW PARAMETERS THAT SHOULD NOT BE CHANGED
	// ----------------------------------------
	
	// bbmap compilation
	bbmap_cp = "/opt/conda/opt/bbmap-38.90-3/current"
	
	// reference fasta for MHC baiting
	bait_fasta = "$baseDir/resources/bait.fasta"
	
	// Dictionary for matching AVRL amplicons to IPD reference alleles
	ipd_avrl_dict = "$baseDir/diag_to_avrl_lookup.json"
	
	// Dictionary for matching AVRL amplicons to IPD reference alleles
	ipd_num_lookup = "$baseDir/ipd_num_lookup.json"
	
	// path to AVRL amplicon fastas, NOT including the wildcard
	avrl_amplicon_path = '$baseDir/resources/avrl_amplicons'
	
	// full reference FASTA
	full_ref_fasta = "$baseDir/resources/full_ref.fasta"
	
	// alleles that are missing in IPD, but not the AVRL amplicons
	missing_alleles = "baseDir/resources/missing_ipd_alleles.csv"
	
	
}


// WHETHER TO GENERATE A REPORT OF RUN STATISTICS
report {
  enabled = true
  file    = "${params.results}/report.html"
}


// WHETHER TO GENERATE A VISUALIZATION OF THE WORKFLOW
dag {
	enabled = true
	overwrite = true
	file = 'workflow-visualization.png'
}


// WHETHER TO REMOVE TEMPORARY FILES AFTER A SUCCESSFUL RUN
cleanup = false


// PROFILE OPTIONS
profiles {
	
	standard {
		
		docker.enabled = true
		singularity.enabled = false
		conda.enabled = false
		
		process.container = 'dockerreg.chtc.wisc.edu/dhoconno/iwes:27329'
		
	}
	
	chtc {
		
		docker.enabled = false
		singularity.enabled = false
		conda.enabled = false
		
	}
	
	docker {
		
		docker.enabled = true
		singularity.enabled = false
		conda.enabled = false
		
		process.container = 'dockerreg.chtc.wisc.edu/dhoconno/iwes:27329'
		
	}
	
	singularity {
		
		singularity.enabled = true
		docker.enabled = false
		conda.enabled = false
		
		process.container = 'dockerreg.chtc.wisc.edu/dhoconno/iwes:27329'
		
	}
	
	// conda {
	// 	
	// 	conda {
	// 		enabled = true
	// 		// cacheDir = "$baseDir/config/envs"
	// 		// createOptions = "-y -c conda-forge -c bioconda -c r"
	// 		useMamba = true
	// 	}
	// 	
	// 	singularity.enabled = false
	// 	docker.enabled = false
	// 	
	// 	process {
	// 		
	// 		withName:PROCESS_NAME {
	// 			conda = ""
	// 		}
	// 	}
	// 	
	// }
}


// MANIFEST
manifest {
	homePage = 'https://github.com/dholab/nf-iWES'
	mainScript = 'main.nf'
	defaultBranch = 'main'
	description = 'NextFlow Pipeline for genotyping immunological genes from macaque whole exome sequence data'
	author = 'David B. Baker & Nicholas R. Minor'
}
